<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>khamdd.controllers.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>khamdd.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>khamdd.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>khamdd.controllers.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>khamdd.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>khamdd.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>khamdd.controllers.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstController</servlet-name>
        <servlet-class>khamdd.controllers.FirstController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionController</servlet-name>
        <servlet-class>khamdd.controllers.UpdateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuestController</servlet-name>
        <servlet-class>khamdd.controllers.DoQuestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnswerController</servlet-name>
        <servlet-class>khamdd.controllers.AddAnswerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAnswerController</servlet-name>
        <servlet-class>khamdd.controllers.SubmitAnswerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeQuestionController</servlet-name>
        <servlet-class>khamdd.controllers.ChangeQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitExamController</servlet-name>
        <servlet-class>khamdd.controllers.SubmitExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>khamdd.controllers.HistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDetailController</servlet-name>
        <servlet-class>khamdd.controllers.HistoryDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateController</servlet-name>
        <servlet-class>khamdd.controllers.AdminCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchController</servlet-name>
        <servlet-class>khamdd.controllers.AdminSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackLoginController</servlet-name>
        <servlet-class>khamdd.controllers.BackLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoCreateAccountController</servlet-name>
        <servlet-class>khamdd.controllers.GoCreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackMemberController</servlet-name>
        <servlet-class>khamdd.controllers.BackMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackHistoryController</servlet-name>
        <servlet-class>khamdd.controllers.BackHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackAdminController</servlet-name>
        <servlet-class>khamdd.controllers.BackAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchChangePageController</servlet-name>
        <servlet-class>khamdd.controllers.SearchChangePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryController</servlet-name>
        <servlet-class>khamdd.controllers.SearchHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryChangePageController</servlet-name>
        <servlet-class>khamdd.controllers.HistoryChangePageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstController</servlet-name>
        <url-pattern>/FirstController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionController</servlet-name>
        <url-pattern>/UpdateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuestController</servlet-name>
        <url-pattern>/DoQuestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnswerController</servlet-name>
        <url-pattern>/AddAnswerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAnswerController</servlet-name>
        <url-pattern>/SubmitAnswerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeQuestionController</servlet-name>
        <url-pattern>/ChangeQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitExamController</servlet-name>
        <url-pattern>/SubmitExamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/HistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDetailController</servlet-name>
        <url-pattern>/HistoryDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateController</servlet-name>
        <url-pattern>/AdminCreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchController</servlet-name>
        <url-pattern>/AdminSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackLoginController</servlet-name>
        <url-pattern>/BackLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoCreateAccountController</servlet-name>
        <url-pattern>/GoCreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackMemberController</servlet-name>
        <url-pattern>/BackMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackHistoryController</servlet-name>
        <url-pattern>/BackHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackAdminController</servlet-name>
        <url-pattern>/BackAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchChangePageController</servlet-name>
        <url-pattern>/SearchChangePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryController</servlet-name>
        <url-pattern>/SearchHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryChangePageController</servlet-name>
        <url-pattern>/HistoryChangePageController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>SE140282</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <listener>
        <listener-class>khamdd.controllers.ContextListener</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>FirstController</welcome-file>
    </welcome-file-list>
</web-app>
